<header class="header">
	<div class="header-background">
		<img src="<%= headerBackground %>" alt="Background">
	</div>
	<div class="background-overlay"></div>
	<div class="header-content">
		<h1><%= community %></h1>
		<p style="color:  <%= color %>"><%= slogan %></p>
	</div>
</header>